@import "../scss/variables/typo";
@import "../scss/variables/font-size";
@import "../scss/variables/color";

.profile-button {
  background-color: #007849;
  color: white;
  margin: 20px;
}

#add-button {
  background-color: $color-accent;
  border-radius: 5px;
  &:hover {
    color: white;
    cursor: pointer;
  }
}
