@import "./variables/typo";
@import "./variables/font-size";
@import "./variables/color";

.profile-button {
  background-color: $color-accent;
  color: white;
  margin: 20px;
}

#add-button {
  background-color: lighten($color-accent, 10%);
  min-width: 120px;
  border-radius: 5px;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.btn {
  min-width: 180px;
  margin: 0 10px;
  &:hover {
    cursor:pointer;
  }
}

.btn-facebook {
  background-color: $color-facebook;
  border: 1px solid $color-facebook;
  &:hover {
    background-color: darken($color-facebook, 10%);
    border: 1px solid darken($color-facebook, 10%);
  }
}
