@import "./variables/typo";
@import "./variables/font-size";
@import "./variables/color";

* {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: lighten($color-primary,20%);
}

h1 {
  font-family: $h1-font;
  font-size: $h1-font-size;
  color: $color-accent;
}

h2 {
  font-family: $h2-font;
  font-size: $h2-font-size;
  color: $color-secondary;
}

h3 {
  font-family: $h3-font;
  font-size: $h3-font-size;
  color: $color-text;
}

h4 {
  font-family: $p-font;
  font-size:$h4-font-size;
  color: $color-text;
}

p {
  font-family: $p-font;
  font-size: $p-font-size;
  color: $color-text;
}

.fa {
  color: $color-secondary;
  &:hover {
    cursor: pointer;
  }
}

a:hover {
  text-decoration: none;
}

.joke-title {
  :hover {
    color:$color-secondary;
  }
}
