<div class="register-page container-fluid">

<h1>Register</h1>

<form id="register" ng-submit="vm.submitForm()" class="col-md-8 mx-auto">
  <div class="form-group">
    <label for="username"><h3>Username</h3></label>
    <input type="text" name="username" ng-model="vm.user.username" class="form-control">
  </div>

  <div class="form-group">
    <label for="email"><h3>Email</h3></label>
    <input type="text" name="email" ng-model="vm.user.email" class="form-control">
  </div>

  <div class="form-group">
    <label for="password"><h3>Password</h3></label>
    <input type="password" name="password" ng-model="vm.user.password" class="form-control">
  </div>

  <div class="form-group">
    <label for="passwordConfirmation"><h3>Password Confirmation</h3></label>
    <input type="password" name="passwordConfirmation" ng-model="vm.user.passwordConfirmation" class="form-control">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success">Register</button>
  </div>

</form>

</div>
