<div class="profile container-fluid">
  <h1>Your profile</h1>
    <div class="row">
      <div class="profile-left col-6">
        <form class="col-6 mx-auto" ng-show="editing" ng-submit="editing = false; vm.editProfile()">
          <div class="form-group">
            <label for="username"><h3>Username</h3></label>
            <input type="text" name="username" ng-model="vm.user.username" class="form-control">
          </div>
          <div class="form-group">
            <label for="email"><h3>Email</h3></label>
            <input type="text" name="email" ng-model="vm.user.email" class="form-control">
          </div>
          <button class="btn btn-success">Save</button>
        </form>
        <div ng-hide="editing">
          <h2>Username: {{ vm.user.username }}</h2>
          <h2>Email: {{ vm.user.email }}</h2>
          <button ng-click="editing = true" class="btn btn-success">Edit your profile</button>
        </div>
      </div>

      <div class="profile-right col-6">
        <div id="scrollArea" class="index-jokes">
          <h2>Your jokes</h2>
          <div class="row">
            <div class="joke-show col-12" ng-repeat="file in vm.files | orderBy:'-'">
              <div class="row">
                <div class="col-lg-8">
                  <a class="joke-title" ui-sref="filesShow({ id: file._id })"><h3>{{ file.filename }}</h3></a>
                </div>
                <div class="col-lg-4">
                  <i class="fa" ng-class="{ 'fa-play-circle-o': !file.isPlaying, 'fa-pause-circle-o': file.isPlaying }" ng-click="vm.play($event, file)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
