<h1>Register</h1>

<form ng-submit="vm.submitForm()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" ng-model="vm.user.username" class="form-control">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" ng-model="vm.user.email" class="form-control">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" ng-model="vm.user.password" class="form-control">
  </div>

  <div class="form-group">
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" ng-model="vm.user.passwordConfirmation" class="form-control">
  </div>

  <div class="form-group">
    <input type="submit" value="Register" class="btn btn-success">
  </div>
</form>
