<h1>Edit Profile</h1>

  <span ng-hide="editing" ng-click="editing = true">Username: {{main.user.username}} <br>
    Email: {{ main.user.email }}
  <br>
  <button href="#">Edit Profile</button></span>
  <form ng-show="editing" ng-submit="editing = false">
    <label>Username:</label>
    <input type="text" ng-model="main.user.username" placeholder="Name" ng-required/>
    <label>Email:</label>
    <input type="text" ng-model="main.user.email" placeholder="Email" ng-required/>
    <br/>
    <button>Save</button>
  </form>
