<div class="profile container-fluid">
  <h1>Your profile</h1>
  <a class="nav-link" ui-sref="usersEdit({ id: main.user.id })">Edit your profile</a>
  <div class="row">
    <div class="profile-left col-6">
      <h2>Username: {{ vm.user.username }}</h2>
      <h2>Email: {{ vm.user.email }}</h2>
      <button class="btn btn-success" ui-sref="usersEdit({ id: vm.user.id })">Edit your profile</button>
    </div>
    <div class="profile-right col-6">
      <div id="scrollArea" class="index-jokes">
        <h2 id="your-jokes">Your jokes</h2>
        <div ng-repeat="file in vm.files | orderBy:'-'">
          <i class="fa" ng-class="{ 'fa-play-circle-o': !file.isPlaying, 'fa-pause-circle-o': file.isPlaying }" ng-click="vm.play($event, file)"></i>
          <a ui-sref="filesShow({ id: file._id })"><h3>{{ file.filename }}</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>
