@import "./variables/typo";
@import "./variables/font-size";
@import "./variables/color";

#comments-container {
  background-color: rgba(255,255,255,0.2);
  padding: 30px;
  clear: both;
  margin-top: 20px;
  h4, p {
    text-align: left;
  }
  .btn-success {
    float: left;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.show-row {
  margin-bottom: 50px;
}

audio {
  width: 100%;
  margin-bottom: 20px;
}
