<h1>Show page</h1>

<h2>
  Joke title: {{ vm.file.filename }}
</h2>
<div ng-controller="filesShowCtrl as settings">

  <audio controls ng-src="{{ vm.file.audio }}"></audio>
  <h3><a ui-sref="filesShow({ id: file.id })">{{vm.file.user}}</a></h3>
  <p><a href="/files" ui-sref="filesIndex">Back to index</a></p>
  <a href="/files/:id/edit" ui-sref="filesEdit({id: vm.file.id })">edit</a>
  <button ng-click="settings.vm.delete">delete</button>

</div>




<!-- <div class="comments" ng-controller="createCommentCtrl"> -->

  <form>
    <h3>Leave your comment</h3>
    <textarea name="comments" rows="8" cols="80" ng-model="vm.file.comments.content"></textarea>
    <button ng-click="vm.submitComment()">Submit Comments</button>
  </form>

  <h1>Comments</h1>

  <ul ng-repeat="comment in vm.file.comments track by $index">
    <p>{{ comment.content}}</p>
  </ul>

<!-- </div> -->
