<!DOCTYPE html>
<html ng-app="whatsOn">
<head>
  <meta charset="utf-8">
  <title>Whats-On</title>
  <base href="/" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/cba4926599.js"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body class="mainFrame" ng-controller="mainCtrl as main">
  <!-- Facebook Sharing -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11&appId=190918681472266';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" ui-sref="filesIndex">Watson</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" ng-if="main.user">
          <a id="add-button" class="nav-link" ui-sref="filesNew">Add a joke</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item" ng-if="!main.user">
          <a class="nav-link" ui-sref="register">Register</a>
        </li>
        <li class="nav-item" ng-if="!main.user">
          <a class="nav-link" ui-sref="login">Login</a>
        </li>
        <li class="nav-item" ng-if="main.user">
          <a class="nav-link profile-img-link" ui-sref="usersEdit({ id: main.user.id })">
            <div class="profile-photo" style="background-image: url({{main.user.image}})"></div>
          </a>
        </li>
        <li class="nav-item" ng-if="main.user">
          <a class="nav-link" ui-sref="usersShow({ id: main.user.id })">Hello {{ main.user.username }}</a>
        </li>
        <li class="nav-item" ng-if="main.user">
          <a class="nav-link" href="#" ng-click="main.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
    <div ng-show="main.message" class="my-message alert alert-{{ main.messageType }}" role="alert">
      {{ main.message }}
    </div>
  <main ui-view></main>
</body>

</html>
