<!DOCTYPE html>
<html ng-app="whatsOn">
  <head>
    <meta charset="utf-8">
    <title>Whats-On</title>
    <base href="/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body ng-controller="mainCtrl as main">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" ui-sref="home">Whats-On</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li ng-if="main.user" class="nav-item">
            <a class="nav-link" ui-sref="usersIndex">Users</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" ng-if="!main.user">
            <a class="nav-link" ui-sref="register">Register</a>
          </li>
          <li class="nav-item" ng-if="!main.user">
            <a class="nav-link" ui-sref="login">Login</a>
          </li>
          <li class="nav-item" ng-if="main.user">
            <a class="nav-link" href="#">Hello {{ main.user.username }}</a>
          </li>
          <li class="nav-item" ng-if="main.user">
            <a class="nav-link" href="#" ng-click="main.logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="fileUpload" ng-controller="mainController">
      <br>

      <div ng-show="uploading" class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
      </div>

      <br>

      <form ng-submit="Submit();">
        <label class="btn btn-success">
          Browse
        <input type="file" file-model="file.upload" name="myfile" ng-disabled="uploading" style="display: none;">
        </label>
        <br>
        <br>
        <button type="button" name="button" class="btn btn-primary" ng-disabled="uploading">Upload</button>
      </form>

      <br>

      <img ng-src="{{ thumbnail.dataUrl || 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Default_profile_picture_%28male%29_on_Facebook.jpg/600px-Default_profile_picture_%28male%29_on_Facebook.jpg'}}">

      <br>
      <br>

      <div ng-show="message">
        <div ng-class="alert">
          {{ message }}
        </div>
      </div>
    </div>

    <br>
    <main ui-view></main>
  </body>
</html>
