nav {
  background-color: lighten($color-primary,20%);
}

#add-button {
  background-color: $color-accent;
  border-radius: 5px;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.navbar-brand {
  padding-top: 20px;
  font-size: $h2-font-size;
}

.navbar-nav {
  padding-top: 20px;
}
