 @import url('https://fonts.googleapis.com/css?family=Baloo+Thambi%7CChelsea+Market%7CFrijole%7CHappy+Monkey');

$color-primary: rgba(255,206,0,1);	// Main Primary color */
$color-secondary: rgba(3,117,180,1);
$color-accent: rgba(84,186,146,1);
$color-text: rgba(38,34,40,1);

$h1-font: 'Chelsea Market', cursive;
$h2-font: 'Happy Monkey', cursive;
$h3-font: 'Baloo Thambi', cursive;
$p-font: 'Open Sans', sans-serif;


$h1-font-size: 60px;
$h2-font-size: 30px;
$h3-font-size: 20px;
$p-font-size: 16px;
