@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi%7CChelsea+Market%7CFrijole%7CHappy+Monkey');

$h1-font: 'Chelsea Market', cursive;
$h2-font: 'Happy Monkey', cursive;
$h3-font: 'Baloo Thambi', cursive;
$p-font: 'Open Sans', sans-serif;
